*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
.navbar{
    border-bottom: 1px solid grey;
}

.child-nav{
    /* border: 1px solid red; */
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.child-nav>img{
    width: 120px;
}

.child-nav>i{
    font-size: 30px;
}

.container{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-evenly;
    align-items:start;
    margin-top: 50px;
}
.container>div>p{
    font-size: 28px;
    margin-left: 10px;
    font-weight: bold;
}

form{
    /* border: 1px solid green; */
    padding: 10px;
    width: 420px;
    /* margin-top: 20px; */
}
.input{
    /* border: 1px solid grey; */
    position: relative;
}
.input>input{
    border: 1px solid grey;
    width: 95%;
    height: 50px;
    outline: none;
    padding: 0px 10px;
    font-size: 25px;
}

.input>span{
    /* border: 1px solid black; */
    position: absolute;
    top: 16px;
    left: 10px;
}

.input>input:focus .input>span{
    top: 2px;
}

.input+p{
    margin-top: 10px;
    margin-left: 10px;
    color: grey;
    font-size: 13px;

}

form>div{
    margin-top: 25px;
}

.checkbox{
    /* border: 1px solid red; */
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 15px;
}

.checkbox>input{
    border: 1px solid red;
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.checkbox+p{
    margin-left: 35px;
    margin-top: 15px;
    font-size: 13px;
    color: grey;
}

.signbtn{
    border: 1px solid black;
    width: 100%;
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 10px;
    margin-top: 50px;
    border-radius: 5px;
}

form+div{
    /* border: 1px solid green; */
    margin: 40px 0px;
    text-align: center;
}

.createAccount{
    border: 1px solid black;
    background-color: white;
    color: black;
    margin-left: 10px;
    margin-top: 30px;
    font-size: 20px;
    padding: 15px 120px;
    border-radius: 5px;
}

.footer{
    border-top: 1px solid grey;
    padding: 30px  0px;
    position: absolute;
    width: 100%;
    bottom: 0px;
}

.child-footer{
    /* border: 1px solid red; */
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    color: grey;
}
.child-footer>div{
    /* border: 1px solid red; */
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer a{
    /* border: 1px solid grey; */
    border-left: 2px solid grey;
    padding: 0px 8px;
    text-decoration: none;
    color: grey;
}

.footer a:nth-child(1){
    border: 0px;
}