/* nav bar start  */
* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
  }
  
  .topNav {
    /* border: 1px solid red; */
    display: flex;
    width: 75%;
    margin: auto;
    padding: 15px 0px;
    justify-content: space-between;
    align-items: center;
  
    font-size: 13px;
  }
  
  .top-child-nav {
    /* border: 1px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .top-child-nav > a {
    /* border: 1px solid red; */
    padding: 2px 8px;
    margin: 0px 5px;
    border-left: 1px solid grey;
    text-decoration: none;
  }
  
  .top-child-nav > a:nth-child(1) {
    border-left: 0px;
  }
  
  .top-child-nav > img {
    width: 20px;
  }
  
  .logo {
    /* border: 1px solid red; */
    display: flex;
    width: 75%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
  }
  
  .toggle {
    display: none;
  }
  .logo2 {
    display: none;
  }
  .logo > img {
    /* border: 1px solid red; */
    width: 150px;
  }
  
  .child-logo {
    /* border: 1px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .child-logo > div {
    border: 0.5px solid grey;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    margin-right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 0px 10px;
  }
  .child-logo i {
    font-size: 25px;
  }
  .child-logo input {
    background-color: rgba(0, 0, 0, 0.05);
    border: 0px;
    width: 300px;
    height: 40px;
    border-radius: 20px;
    outline: none;
    padding: 0px 10px;
    font-size: 18px;
  }
  
  .SectionNavbar {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin: auto;
    height: 50px;
  }
  
  .SectionNavbar > div {
    /* border: 1px solid rebeccapurple; */
    /* position: relative; */
    padding: 10px 5px;
  }
  .SectionNavbar span {
    cursor: pointer;
  }
  .SectionNavbar > p {
    display: none;
  }
  .productType > i {
    display: none;
  }
  .hideSection {
    /* border: 1px solid red; */
    background-color: white;
    width: 100%;
    position: absolute;
    visibility: hidden;
    top: 185px;
    left: 0px;
  }
  .hideSection > div {
    /* border: 1px solid rebeccapurple; */
    background-color: white;
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    text-align: justify;
  }
  .hideSection h4 {
    font-size: 15px;
    margin-top: 30px;
  }
  .hideSection a {
    color: grey;
    display: block;
    margin: 15px 0px;
    text-decoration: none;
    font-size: 13px;
  }
  .women:hover {
    border-bottom: 2px solid black;
  }
  .women:hover .hideSection {
    visibility: visible;
  }
  .extra {
    display: none;
  }
  
  @media screen and (max-width: 900px) {
    .topNav {
      /* border: 1px solid red; */
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .top-child-nav {
      display: none;
    }
    .logo {
      display: none;
    }
  
    .logo2 {
      display: block;
    }
    .logo2-child {
      /* border: 1px solid red; */
      display: flex;
      width: 96%;
      margin: auto;
      justify-content: space-between;
      align-items: center;
      font-size: 13px;
    }
    .logo2-child > div {
      /* border: 1px solid red; */
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .logo2 img {
      width: 150px;
      margin-left: 20px;
    }
    .logo2 i {
      /* border: 1px solid red; */
      font-size: 30px;
    }
    .inputNav {
      border: 1px solid grey;
      width: 96%;
      margin: 5px auto;
      background-color: rgba(0, 0, 0, 0.05);
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0px 0px 0px 10px;
    }
    .inputNav input {
      background-color: rgba(0, 0, 0, 0.05);
      border: 0px;
      width: 100%;
      height: 40px;
      border-radius: 20px;
      outline: none;
      padding: 0px 10px;
      font-size: 18px;
    }
    .toggle {
      display: block;
    }
    .toggle > i:nth-child(2) {
      display: none;
    }
  
    .SectionNavbar {
      border: 1px solid grey;
      width: 40%;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      padding-top: 10px;
      font-size: 20px;
      top: 185px;
      height: auto;
      transform: translateX(-100%);
      transition: all 0.5s linear;
    }
    .SectionNavbar > p {
      display: block;
    }
    .productType > i {
      display: block;
    }
    .active {
      transform: translateX(0);
    }
  
    .active > i:nth-child(2) {
      display: block;
    }
  
    .active > i:nth-child(1) {
      display: none;
    }
    .SectionNavbar > div {
      /* border: 1px solid red; */
      width: 100%;
    }
    .SectionNavbar > p {
      /* border: 1px solid red; */
      width: 100%;
      text-align: center;
    }
    .productType {
      /* border: 1px solid grey; */
      width: 90%;
      display: flex;
      justify-content: space-between;
      padding: 10px;
      font-size: 15px;
    }
    .products:hover {
      border-bottom: 0px;
    }
    .extra {
      display: block;
    }
  
    .extra {
      /* border: 1px solid red; */
      width: 20%;
    }
    .extra > div {
      /* border: 1px solid green; */
      margin: 30px 10px;
      width: 70%;
    }
    .extra a {
      text-decoration: none;
      color: black;
    }
    .extra i {
      margin-right: 20px;
    }
  
    .extra img {
      width: 20px;
      margin-right: 10px;
    }
  }
  
  @media screen and (max-width: 599px) {
    .logo2 img {
      width: 130px;
      margin-left: 20px;
    }
    .logo2 i {
      /* border: 1px solid red; */
      font-size: 25px;
    }
    .SectionNavbar {
      width: 60%;
      overflow: auto;
      height: 500px;
    }
  
    .SectionNavbar > div {
      /* border: 1px solid red; */
      width: 90%;
    }
    .SectionNavbar > p {
      /* border: 1px solid red; */
      width: 100%;
      text-align: center;
      margin-top: 240px;
      font-size: 15px;
    }
    .extra > div {
      /* border: 1px solid green; */
      margin: 30px 10px;
      width: 100%;
    }
    .extra a {
      font-size: 13px;
    }
  }
  
/* nav bar end  */



  /* footer section  */

  
.footer{
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns: 22% 22% 22% 34%;
    /* gap: 20px; */
    background-color: #1f1f1f;
    
    }
    .footer>div{
    /* border: 2px solid green; */
    /* padding-left: 20px; */
    padding: 30px 0px 20px 40px;
    
    }
    .footer>div>a{
    margin: 10px;
    text-decoration: none;
    color: white;
    font-size: 12px;
    
    }
    .footer>div>a:hover{
    text-decoration:underline;
    }
    .footer>div>.fhead{
    color: white;
    font-weight: bold;
    font-size: 18px;
    }
    .signbtn{
    background-color: black;
    font-size: 20px;
    padding: 10px 50px 10px 50px;
    color: white;
    border: none;
    border-radius: 10px;
    }
    .footerEnd{
    width: 93.5%;
    background-color: black;
    color: white;
    font-size: 12px;
    text-align: center;
    padding: 20px;
    
    }
    
    
    
    /* media Query  */
    @media screen and (min-width : 901px) {
    
        
        
    }
    
    @media screen and (min-width : 600px) and (max-width : 900px){
    
   
    
     .footer{
        display: grid;
        grid-template-columns:50% 50% ;
     }
    
    
        
    }
    
    @media screen and (max-width : 599px) {
    
 
    
     .footer{
        display: grid;
        grid-template-columns:repeat(1,1fr) ;
     }
       
    }
        
    
/* footer section end      */